---
import TechStack from "../components/TechStack.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="À propos">
	<section class="prose max-w-3xl mx-auto">
		<h1>À propos de moi</h1>
		<p>
			Je suis développeur web passionné, spécialisé dans le développement frontend moderne avec un fort attrait pour le
			design UI/UX.
		</p>
	</section>
	<TechStack />
</MainLayout>
