---
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
import Projects from "../components/Projects.astro";
import MainLayout from "../layouts/MainLayout.astro";
import TechStack from "../components/TechStack.astro";
import CareerTimeline from "../components/CareerTimeline.astro";
---

<MainLayout>
	<main class="space-y-28 scroll-smooth">
		<section id="home" class="min-h-screen flex items-center justify-center">
			<h1 class="text-4xl font-bold">Bienvenue sur mon portfolio</h1>
		</section>

		<About />
		<TechStack />
		<CareerTimeline />
		<Projects />
		<Contact />
	</main>
</MainLayout>
