---
import ThemeToggle from "./ThemeToggle.astro";
const navItems = [
	{ label: "Accueil", href: "#home" },
	{ label: "À propos", href: "#about" },
	{ label: "Technos", href: "#techs" },
	{ label: "Expériences", href: "#career" },
	{ label: "Projets", href: "#projects" },
	{ label: "Contact", href: "#contact" },
];
---

<nav id="navbar" class="fixed top-0 left-0 w-full bg-base-100 z-50 shadow-md">
	<div class="max-w-6xl mx-auto px-4 navbar">
		<div class="flex-1">
			<a href="/" class="btn btn-ghost text-xl">Mon Portfolio</a>
		</div>
		<div class="flex-none">
			<ul class="menu menu-horizontal px-1">
				{
					navItems.map((item) => (
						<li>
							<a href={item.href}>{item.label}</a>
						</li>
					))
				}
			</ul>
			<ThemeToggle />
		</div>
	</div>
</nav>
