---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "../styles/tailwind.css";
import MainScripts from "../components/MainScripts.astro";
const { title = "Portfolio" } = Astro.props;
---

<html lang="fr" data-theme="cupcake">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
	</head>
	<body>
		<Navbar />
		<slot />
		<Footer />

		<MainScripts />
	</body>
</html>
